*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
}

body{
	background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(11,11,11,1) 61%, rgba(24,24,24,1) 100%);
	font-family: 'Poppins' !important;
    color: white !important;
}

/*Start of navbar code using bootstrap*/

.navbar{
    color: transparent !important;
    padding-top: 20px !important;
}
.navbar-brand{
    font-size: 48px !important;
    padding-left: 100px;
    color: white !important;
    font-weight: 700;
}

.navbar-brand-span{
    color: lightgreen;
}

.navbar-links-container{
    display: flex;
    justify-content: end;
}

.nav-link{
    font-size: 23px !important;
    padding-left: 30px !important;
    padding-right: 20px !important;
    color: white !important;
}

.navbar-toggler {
    background-color: white !important;
}

/*End of navbar code using bootstrap*/

/*Start of 'home' code using bootstrap*/

.hero{
    display: flex;
    justify-content: center;
    margin-left: -100px;
    margin-top: 100px;
}

.profile-picture{
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 50%;
}

.profile-text-container{
    text-align: start;
    margin-top: 150px;
    padding-left: 200px;
}

.display-4{
    font-size: 30px !important;
    padding-bottom: 30px;
}

.lead{
    font-size: 43px !important;
}

/*End of 'home' code using bootstrap*/