*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
}

body{
	background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(11,11,11,1) 61%, rgba(24,24,24,1) 100%);
	font-family: 'Poppins' !important;
    color: white !important;
}

/*Start of navbar code using bootstrap*/

.navbar{
    color: transparent !important;
    padding-top: 20px !important;
}
.navbar-brand{
    font-size: 48px !important;
    padding-left: 100px;
    color: white !important;
    font-weight: 700;
}

.navbar-brand-span{
    color: lightgreen;
}

.navbar-links-container{
    display: flex;
    justify-content: end;
}

.nav-link{
    font-size: 23px !important;
    padding-left: 30px !important;
    padding-right: 20px !important;
    color: white !important;
}

.navbar-toggler {
    background-color: white !important;
}

/*End of navbar code using bootstrap*/

/*Start of 'home' code using bootstrap*/

.hero{
    display: flex;
    justify-content: center;
    margin-left: -100px;
    margin-top: 100px;
}

.profile-picture{
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 50%;
}

.profile-text-container{
    text-align: start;
    margin-top: 150px;
    padding-left: 200px;
}

.display-4{
    font-size: 30px !important;
    padding-bottom: 30px;
}

.lead{
    font-size: 43px !important;
}

/*End of 'home' code using bootstrap*/

/*Start of 'about' code using bootstrap*/

.about-me{
    display: flex;
    justify-content: center;
    margin-left: -100px;
    margin-top: 300px;
    padding-top: 100px;
}

.aboutme-text-container{
    text-align: center;
    padding-left: 100px;
    margin-top: 170px;
}

.about-me-picture{
    width: 500px;
    height: 700px;
    object-fit: cover;
}

.about-me-title{
    font-size: 68px;
    font-weight: 700;
    padding-bottom: 30px;
}

.about-me-text{
    font-size: 23px;
    width: 600px;
}

/*End of 'about' code using bootstrap*/

/*Start of 'projects' code using bootstrap*/

.my-work{
    margin-top: 200px;
    padding-top: 50px;
    background-color: transparent !important;
}

.projects-title{
    text-align: center;
    font-size: 60px;
    padding-bottom: 50px;
    font-weight: 700;
}

.cardContainer{
    padding-left: 25px !important;
    padding-right: 25px !important;
}

.row{
    --bs-gutter-x: 0rem !important; 
}

.card{
    background-color: transparent !important;
    border-radius: 6px !important;
    border-color: transparent !important;
}

.card-body{
    text-align: center;
    background-color: transparent !important;

    border-radius: 0px !important;
}

.card-title, .card-text{
    color: white !important;
}

.btn-primary{
    background-color: rgb(76, 101, 76) !important;
    border-color: rgb(62, 105, 62) !important;
    color: white !important;
}

/*End of 'projects' code using bootstrap*/

/*Start of 'forms' code using bootstrap*/

.form-container{
    margin-left: 100px;
    margin-top: 130px;
    display: flex;
    flex-direction: column !important;
    justify-content: center !important;
    padding-bottom: 100px;
}

.contact-me-title{
    font-size: 60px;
    font-weight: 700;
    padding-bottom: 30px;
}

.my-email{
    font-size: 20px;
    padding-bottom: 20px;
}

.my-number{
    font-size: 20px;
}

.fa-paper-plane, .fa-phone{
    padding-right: 8px;
    color: lightgreen;
}

.social-platforms{
    width: 40px;
    font-size: 30px;
    color: lightgrey;
    padding-top: 20px;
    padding-bottom: 50px;
}

.social-platforms:hover{
    color: lightgreen;
}

.download-cv{
    display: block !important;
    margin-bottom: 35px;
    width: 160px;
}

.your-name{
    width: 90%;
    border-radius: 10px;
    height: 40px;
    padding-left: 10px;
    background: #262626;
    color: white !important;
    border: none !important;
}

.your-email{
    width: 90%;
    border-radius: 10px;
    height: 40px;
    padding-left: 10px;
    background: #262626;
    color: white !important;
    border: none !important;
    margin-top: 30px;
}

.form-text{
color: lightgray !important;

}

.form-check{
    margin-left: -23px;
}

.your-message{
    width: 90%;
    padding-left: 10px;
    padding-top: 8px;
    background: #262626;
    border-color: #262626;
}

.btn-primary{
    width: 160px;
}

@media only screen and (max-width: 1370px)  {
    .hero{
        margin-left: 60px;
        margin-top: 140px;
    }
    .profile-text-container{
        padding: 70px;
        margin-top: 80px;
        white-space: nowrap;
    }
    .about-me{

    }
    .aboutme-text-container{
        text-align: center;
        padding-left: 100px;
        margin-top: 170px;
    }
    .about-me-picture{
        width: 400px;
        height: 600px;
        object-fit: cover;
    }
    .about-me-title{
        font-size: 48px;
        font-weight: 700;
        padding-bottom: 30px;
    }
    .about-me-text{
        font-size: 18px;
        width: 500px;
    }

}

@media only screen and (max-width: 1270px) {
    .navbar-brand{
        margin-left: -90px;
    }
    .hero{
        margin-left: 70px;
        margin-top: 90px;
    }
    .profile-picture{
        width: 400px;
        height: 400px;
        object-fit: cover;
        border-radius: 100%;
    }
    .profile-text-container{
        margin-top: 350px;
        white-space: nowrap;
        margin-left: -450px;
        text-align: center;
    }
    .display-4{
        font-size: 20px !important;
        padding-bottom: 10px;
    }
    .lead{
        font-size: 33px !important;
    }
    .about-me{
        padding-top: 300px;
    }
    .aboutme-text-container{
        text-align: center;
        padding-left: 0px;
        margin-top: -10px;
    }
    .about-me-picture{
        width: 400px;
        height: 500px;
        object-fit: cover;
        margin-left: 130px;
        padding-left: 30px;
        padding-right: 40px;
        margin-top: -200px;
    }
    .about-me-title{
        font-size: 48px;
        font-weight: 700;
        padding-bottom: 0px;
        margin-top: -270px;
        margin-left: -420px;

    }
    .about-me-text{
        font-size: 18px;
        width: 450px;
        margin-top: 550px;
        margin-left: -430px;
    }
}


@media only screen and (max-width: 900px){
    .jumbotron{
        display: flex !important;
        flex-direction: row !important;
    }
    .form-container{
        margin-left: 55px;
    }
}

@media only screen and (max-width: 600px){
    .hero{
        margin-left: 40px;
        margin-top: 70px;
        padding-bottom: 220px;
    }
    .profile-picture{
        width: 300px;
        height: 300px;
        object-fit: cover;
        border-radius: 100%;
    }
    .profile-text-container{
        margin-top: 260px;
        white-space: nowrap;
        margin-left: -335px;
        text-align: center;
    }
    .display-4{
        font-size: 15px !important;
        padding-bottom: 10px;
    }
    .lead{
        font-size:22px !important;
    }
    .about-me{
        margin-left: -120px;
        margin-top: -0px;
    }
    .about-me-text{
        font-size: 13px;
        width: 300px;
        margin-top: 370px;
        margin-left: -285px;
    }
    .about-me-picture{
        width: 300px;
        height: 300px;
        object-fit: cover;
        margin-left: 100px;
        padding-left: 30px;
        padding-right: 0px;
    }
    .about-me-title{
        font-size: 48px;
        font-weight: 700;
        padding-bottom: 0px;
        margin-top: -260px;
        margin-left: -285px;
    }
    .cardContainer{
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}

/*End of 'forms' code using bootstrap*/